<p>product-list works!</p>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">code</th>
      <th scope="col">description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.code}}</td>
      <td>{{product.description}}</td>
      <td><a href="#/product/{{product.code}}">link</a></td>
    </tr>
  </tbody>
</table>